@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); 

* {
  outline: 0 !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
}

#app {
  display: flex;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #aaaaaa;
  line-height: 22px;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: #434242;
}

a {
  color: #aaaaaa;
  text-decoration: none;
  transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

a:hover {
  color: #ee6817;
}


::selection {
  color: #000;
  background: none repeat scroll 0 0 #ee6817;
}

::-moz-selection {
  color: #000;
  background: none repeat scroll 0 0 #ee6817;
}

h1, h2, h3, h4, h5 { font-weight: 400; font-family: 'Oswald', sans-serif; color: #aaaaaa; text-transform: uppercase; } 